# Python virtual environments
.env/
env/
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# DVC cache
.dvc/cache/

# Model/Data artifacts tracked by DVC
*.joblib
*.pkl
*.csv

# Feast generated databases
feature_repo/data/registry.db
feature_repo/data/online_store.db
