# Ignore Python virtual environments
.env/
venv/
__pycache__/
*.pyc

# Ignore DVC cache (optional, if you don’t want to track cache locally)
.dvc/cache/

# Ignore model artifacts if you don’t want them in Git
*.joblib
*.pkl
*.csv
# Ignore Python virtual environments
.env/
venv/
__pycache__/
*.pyc

# Ignore DVC cache (optional, if you don’t want to track cache locally)
.dvc/cache/

# Ignore model artifacts if you don’t want them in Git
*.joblib
*.pkl
*.cs

# Feast generated databases
feature_repo/data/registry.db
feature_repo/data/online_store.db

# Python virtual environment
env/
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/v
